@model Product

<div class="card mt-5 shadow border-0 rounded-3">

    <div class="card-header border-0 p-0 rounded-top-3 bg-primary p-4">
        <div class="text-center align-content-center">
            <h2 class="text-primary m-0 text-white">Delete Product</h2>
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
        </div>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control p-2" disabled placeholder="Enter Product Title">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Author" class="form-label"></label>
                <input asp-for="Author" class="form-control p-2" disabled placeholder="Enter Author">
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ISBN" class="form-label"></label>
                <input asp-for="ISBN" class="form-control p-2" disabled placeholder="Enter ISBN">
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control p-2" disabled placeholder="Enter Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ListPrice" class="form-label"></label>
                <input asp-for="ListPrice" class="form-control p-2" disabled placeholder="Enter Price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="row mt-4">
                <div class="col-6 col-md-4">
                    <button type="submit" class="btn btn-primary form-control">
                        Delete
                    </button>

                </div>
                <div class="col-6 col-md-4">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">Back To List</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial Title="_ValidationScriptsPartial" />
}
